{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem expedita voluptas ratione vel perferendis 
            maiores, voluptatum, et illum molestiae ipsa ullam provident architecto excepturi asperiores accusantium tempora 
            voluptates. Id, excepturi atque. Atque totam modi nam, perspiciatis voluptas, dolor commodi assumenda adipisci 
            quod veritatis debitis. Tenetur ut incidunt modi, quas consequuntur officiis molestias vero aut blanditiis 
            consectetur quidem ullam pariatur sunt sequi repellat provident assumenda facilis in fugiat. Quam quisquam 
            exercitationem eligendi porro voluptatum tempora repellat ab incidunt repellendus ipsum, cupiditate eos, 
            praesentium officia reprehenderit. Dolor, repellendus libero dignissimos enim unde vero voluptatibus iste 
            fuga maxime. Ab atque in autem commodi?</p>

            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signup
                </a>
            </div>
    </section>
</main>
{% endblock %}